<img src="images/p9.jpg" alt="" class="img-responsive zoom-img">
</a>
</div>
<div class="col-md-3 gallery-grids">
  <a href="images/p10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
    <img src="images/p10.jpg" alt="" class="img-responsive zoom-img">
  </a>
</div>
<div class="col-md-3 gallery-grids">
  <a href="images/p11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
    <img src="images/p11.jpg" alt="" class="img-responsive zoom-img">
  </a>
</div>
<div class="col-md-3 gallery-grids">
  <a href="images/p12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
    <img src="images/p12.jpg" alt="" class="img-responsive zoom-img">
  </a>
</div>
<div class="clearfix"> </div>
</div>
<script src="js/lightbox-plus-jquery.min.js"></script>
</div>
</div>
<!--//gallery-->