
<!-- services -->
<div class="practice-areas">
  <div class="container">
    <div class="wthree_head_section">
      <h3 class="w3l_header">Nuestros <span>Servicios</span></h3>
      <p>
        Disfrute de un tratamiento facial o aromaterapia para una ocasión especial. Nuestros servicios
        de belleza y cuidado de la piel se adaptarán a cada necesidad de belleza.
      </p>
    </div>
    <div class="area-main">
      <div class="col-md-6 area-inner">
        <div class="area-img1">
        </div>
        <div class="area-right p1">
          <h5>FACIAL</h5>
          <p class="para-w3-agile">Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu.
            Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.</p>
        </div>
      </div>
      <div class="col-md-6 area-inner">
        <div class="area-img2">
        </div>
        <div class="area-right p2">
          <h5>MAQUILLAJE</h5>
          <p class="para-w3-agile">Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu.
            Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.</p>
        </div>
      </div>
    </div>
    <div class="area-main">
      <div class="col-md-6 area-inner">
        <div class="area-right p3">
          <h5>UÑAS</h5>
          <p class="para-w3-agile">Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu.
            Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.</p>
        </div>
        <div class="area-img3">
        </div>
      </div>
      <div class="col-md-6 area-inner">
        <div class="area-right p4">
          <h5>CABELLO</h5>
          <p class="para-w3-agile">Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu.
            Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.</p>
        </div>
        <div class="area-img4">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //services -->