<!--<p class="notice"><%#= notice %></p>-->
<!--<p class="alert"><%#= alert %></p>-->


<!--<div id="div_notice_header" class="notice" hidden><%#= notice_header %></div>-->
<div id="div_notice" class="notice" hidden><%= notice %></div>
<div id="div_alert" class="alert" hidden><%= alert %></div>
